<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <div style="margin-top: 30px;" class="container">
   	  <div class="row">
   	  	<div class="col s3 ">
   	  	   <app-one></app-one>
   	  	</div>
   	  	<div class="col s3 push-s7">
   	  	   <app-two></app-two>
   	  	</div>
   	  </div>

   	  <div class="row">
   	  	<div class="col s3 push-s4">
   	  	   <app-mid></app-mid>
   	  	</div>
   	  </div>
   

   	  <div class="row">
		   	  	
		<div class="col s3">
   	  	   <app-three></app-three>
   	  	</div>

		<div class="col s3 push-s7">
   	  	   <app-four></app-four>
   	  	</div>
   	  </div>
   
   </div>







</body>
</html>